/* main style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* style of header elements */
header {
  height: 50px;
  display: flex;
  background: white;
  justify-content: space-evenly;
  align-items: center;
}

.right-container img {
  width: 40px;
  border-radius: 50%;
}

.left-container ul {
  list-style-type: none;
  display: flex;
  font-size: 14px;
  gap: 25px;
  color: #737c85;
}

.left-container ul li {
  display: flex;
  gap: 5px;
  line-height: 18px;
  align-content: center;
}

.right-container button {
  width: 100px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  background: rgb(119, 180, 219);
}

.right-container {
  display: flex;
  gap: 15px;
}

.search {
  border: 1px solid gray;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
  background: rgb(247, 248, 250);
}

.search input {
  border: none;
  background: transparent;
}

/* style of banner element */
.banner {
  height: 350px;
  color: white;
  font-size: 34px;
  font-weight: bold;
  background: rgb(119, 180, 219);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* style of information-container elements */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  color: #737c85;
}

.information-container {
  display: flex;
  gap: 10px;
}

.information-container ul {
  display: flex;
  gap: 25px;
  list-style-type: none;
}

.information-container li p:nth-child(2) {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.img {
  width: 180px;
  position: relative;
}

.information-container img {
  position: absolute;
  width: 180px;
  border-radius: 50%;
  border: 3px solid white;
  top: -60px;
}

.container button {
  width: 100px;
  height: 40px;
  border: 1px solid rgb(119, 180, 219);
  color: rgb(119, 180, 219);
  font-weight: bold;
  border-radius: 20px;
  background: rgb(239, 239, 239);
  margin-right: 20px;
}
