* {
    margin: 0;
    padding: 0;
  }
  
  /* Exercise 0 */
  
  .container {
    background: red;
    position: relative;
    width: 400px;
    height: 400px;
  }
  
  .container div:nth-child(1) {
    position: absolute;
    background: blue;
    width: 130px;
    height: 130px;
    left: 0;
  }
  
  .container div:nth-child(2) {
    position: absolute;
    background: green;
    width: 130px;
    height: 130px;
    right: 0;
  }
  
  .container div:nth-child(3) {
    position: absolute;
    background: violet;
    width: 130px;
    height: 130px;
    bottom: 0;
    right: 0;
  }
  
  .container div:nth-child(4) {
    position: absolute;
    background: yellow;
    width: 130px;
    height: 130px;
    bottom: 0;
    left: 0;
  }
  
  .container div:nth-child(5) {
    position: absolute;
    background: white;
    width: 130px;
    height: 130px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Exercise 1 */
  
  h2 {
    margin-top: 50px;
  }
  
  .ex_one {
    width: 200px;
    height: 100px;
    background: pink;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Exercise 2 */
  
  header {
    width: 100%;
    height: 50px;
    background: #868686;
    position: fixed;
  }
  
  header div {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
  }
  
  .text {
    font-size: 20px;
  }
  
  /* Exercise 3 */
  
  footer {
    width: 100%;
    height: 50px;
    background: #232323;
    color: white;
    position: fixed;
    bottom: 0;
  }
  
  footer div {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
  }
  
