/* main style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E5E5E5;
}

/* calc-container */

.calc-container {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  height: 844px;
  width: 390px;
  background-color: #151515;
  border-radius: 40px;
}

/* top-container  */

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  font-size: 48px;
  margin: 19px 19px 0 19px;
  border-bottom: 1px solid #4e4d4d;
}

.top-container ul {
  list-style-type: none;
}

.top-container ul img {
  width: 24px;
}

.calculation ul {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 60px;
}

.calculation ul li:nth-child(2) {
  color: #969696;
}

.calc-functions ul {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

/* bottom-container  */

.bottom-container ul li {
  height: 75px;
  width: 73px;
  border-radius: 9px;
  background-color: #343434;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: #ffffff;
}

.bottom-container ul .icon {
  font-size: 24px;
  font-family: inter;
  color: #66ff7f;
}

.bottom-container ul li:nth-child(1) {
  background: #ff5959;
  font-size: 36px;
  color: #343434;
}

.bottom-container ul li:nth-last-child(1) {
  background: #66ff7f;
  font-size: 36px;
  color: #343434;
}

.bottom-container ul {
  height: 522px;
  gap: 20px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
